.top-bar {
    display: flex;
    align-items: center;
    height: 64px;
    border-bottom: 2px solid #d6d6d6;

}

.title-box {
    margin-left: 10px;
    width: 300px;
    padding: 15px;
}

.title {
    font-size: 24px;
    margin: 0;
}